.container {
  /* position: relative; */
  width: 100%;
}

.skyline {
  height: 500px;
  width: 100%;
  background-image: 
    url('../images/mtb-skyline.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}