 #home {
  position: absolute;
  height: 83vh;
  width: 100%;
  background-image: 
    url('../images/bariloche.jpg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.shade {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: 83vh;
  background-image: linear-gradient(to top, rgba(76, 199, 86, 0.52), rgba(9, 101, 240, 0.73));
  border-right: 5px solid rgba(245, 246, 252, 0.52);
  color: white;
}

.avatar {
  margin-top: 15%;
  min-height: 250px;
  width: 250px;
  border:5px solid rgba(245, 246, 252, 0.52);
  border-radius: 15px;
}

#welcome {
  text-align: center;
  margin: 5%;
}

#welcome h1 {
  font-size: 70px;
  margin: 0;
}

#welcome p {
  font-size: 25px;
  margin: 0;
  margin-bottom: 15px;
}

@media only screen and (max-width: 850px) {
  .shade {
    width: 100%;
    height: auto;
  }
}