 #chile {
   position: absolute;
   z-index: 2;
   left: 10px;
}

.work {
  display: flex; 
  align-items: top;
  background-image: 
    url('../images/laptop.jpg');
  background-size: cover;
  background-position: center;
  height: 350px;
  width: 100%;
}

.projects-overview {
  position: relative;
  color: white;
  width: 25%;
  max-height: 350px;
  border-radius: 10px;
  margin: 10px;
  overflow: auto;
}

.projects-overview h1 {
  position: absolute;
  height: auto;
  width: 100%;
  text-align: center;
}

.projects-overview p {
  position: absolute;
  height: auto;
  width: 95%;
  font-size: 22px;
  top: 35px;
  padding-left: 15px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: auto;
  padding-bottom: 3%;
  padding-top: 2%;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 290px;
  width: 290px;
  border: 2px solid rgba(75, 76, 77, 0.52);
  border-radius: 30px;
  margin-top: 10px;
}

.project-card:hover {
  box-shadow: 10px 10px 10px rgba(75, 76, 77, 0.52);
  transition: box-shadow ease-in .5s;
}

.project-img {
 overflow: hidden;
 width: 100%;
 height: 250px;
 border-top-left-radius: 30px;
 border-top-right-radius: 30px; 
}

.project-title {
  border-top: 2px solid rgba(75, 76, 77, 0.52);
  width: 100%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;  
}

.project-title h2 {
  text-align: center;
  height: 40px;
}


.projects a {
  text-decoration: none;
  color: black;
} 

@media only screen and (max-width: 825px) {
  .work {
    background-image: none;
    height: 150px;
  }

  .projects-overview {
    width: 100%;
    color: black
  }

  .projects {
    top: 45%;
  }
}

@media only screen and (min-width: 1485px) {
  .projects {
   margin-left: 12%;
   margin-right: 12%;
  }
}