.work {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50vh;
  width: 100%;
  background-image: 
    /* linear-gradient(to top, rgba(245, 246, 252, 0.52), rgba(7, 41, 233, 0.73)), */
    url('../images/mural-camera.jpg');
  background-size: cover;
  background-position: center;
  color: white;
} 

.work h2 {
  display: inline-block;
  width: 40%;
  background-color: rgba(9, 101, 240, 0.73);
  border-radius: 5px;
  padding: 15px;
  margin-right: 25px;
}
.project {
  display: grid;
  grid-template-rows: auto;
  align-content: center;
  max-height: 330px;
  max-width: 330px;
  text-align: center;
}

.project:hover h2 {
  background-color: rgba(9, 101, 240, 0.73);
  color: white;
  border-radius: 20px; 
  transition: all .3s linear .1s;
}

.project h2 {
  margin: 0 auto;
}

.project img {
  max-height: 290px;
  max-width: 290px;
  border: 2px solid rgba(9, 101, 240, 0.73); 
  border-radius: 30px;
} 

.projects {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 60%;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 3%;
}

.projects a {
  text-decoration: none;
  color: black;
}