 /* * {
  border: 1px dotted black;
}  */
 
body {
  font-family: 'Roboto Condensed', sans-serif;
} 

h1, h2, h3, figcaption, button, a {
  font-family: 'Special Elite', cursive;
}

#navContainer {
  margin-top: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
}

#navbar {
  display: flex;
  justify-content: space-around;
  height: 50px;
  width: 200px;
  align-items: center; 
}

.link {
  text-decoration-line: none;
  color: black;
  font-weight: bold;
  font-size: 25px;
  padding-top: 7px;
  padding-left: 10px;
  padding-right: 10px;
}

.active {
  border: 5px solid  rgba(75, 76, 77, 0.52);
  border-radius: 5px;
}

.flex {
  display: flex;
}


